body {
    padding: 50px 300px;
    margin: 0px;
}

td {

    padding: 2px;
    border: 1px #AAA solid;
    background: #EEE;
    margin: 2px;
}

td > div {
    width: 17px;
    height: 17px;
    text-align: center;
}

.header p , .header form{
    display: inline-block;
    margin-right: 40px;
}

 /*grid styling*/
 
 .active {
     background: #888;
     
 }


 
 .left {
     float: left;
 }
 
 .right {
     float: right;
 }
 
 .right p {
     margin: 0px;
 }