body {
    padding: 0px 200px;
    margin: 0px;
}

td {
    padding: 2px;
    margin: 2px;

}
td > div {
    width: 17px;
    height: 17px;
    text-align: center;
}

td.cell-value {
    border: 1px #AAA solid;
    background: #EEE;
}

.header p , .header form{
    display: inline-block;
    margin-right: 40px;
}

.left {
    float: left;
    width: 600px;
}

.left table {
    margin: 40px auto 0 auto;
    border-spacing: 1px;
}

.right {
    float: right;
}

.right p {
    margin: 0px;
}